<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837810303727-g4n2gcoja6vkr1up48ha67o8mdba9pms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837810303727-g4n2gcoja6vkr1up48ha67o8mdba9pms</string>
	<key>API_KEY</key>
	<string>AIzaSyBnT0BRcmU_xa1k939a0eEr3y-9vrA61SU</string>
	<key>GCM_SENDER_ID</key>
	<string>837810303727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.locslender.TicTacToe</string>
	<key>PROJECT_ID</key>
	<string>tictactoe-92fed</string>
	<key>STORAGE_BUCKET</key>
	<string>tictactoe-92fed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837810303727:ios:f354dc033d48d252aa211a</string>
	<key>DATABASE_URL</key>
	<string>https://tictactoe-92fed.firebaseio.com</string>
</dict>
</plist>